<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="./static/style.min.css">

    <title>Pan-Synapse</title>
    <meta name="keywords" content="graduate, major requirements, easy, web design">
    <meta http-equiv="cleartype" content="on">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism.min.css">
    <script src="static/js/main.js"></script>

    <link rel="stylesheet" href="static/css/main.css" />
</head>

<body>
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top" class="circle">
      <span id="arrow-high" class="glyphicon glyphicon-menu-up"></span>
      <span id="arrow-low" class="glyphicon glyphicon-menu-up"></span>
    </a>
    <div class="parallax">
    <div class="header-text center fadeIn">Some welcome message.</div>
    </div>
    <div class="panel">
    <a href='#blueSection'>
      <div class="circle-center circle fadeIn">
          <span id="arrow-high" class="glyphicon glyphicon-menu-down"></span>
          <span id="arrow-low" class="glyphicon glyphicon-menu-down"></span>
      </div>
    </a>
    <form><div class="section-menu group hideme" id="blueSection">
      <div class="menuCol icon-text text-center underline cpl">
        <form action="upload.php" method="post" enctype="multipart/form-data">
            Select image <br> to upload:
            <input type="file" name="fileToUpload" id="fileToUpload" style="margin-top: 2.5vh; font-size: 22px">
            <input type="submit" value="Upload Image" name="submit" style="background: white; border-style: solid; border-color: black">
        </form>
      </div>



    </div></form>


        <script src="static/js/main.js"></script>

</body>

</html>
