<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Synapsys</title>
    <meta name="keywords" content="">
    <meta http-equiv="cleartype" content="on">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../static/js/main.js"></script>

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

</head>

<body>

    <div id="top"></div>
    <div id="particles-background" class="vertical-centered-box"></div>
    <div id="particles-foreground" class="vertical-centered-box"></div>
    <div id="welcome">

      <!-- Return to Top -->
      <a href="javascript:" id="return-to-top" class="circle">
          <span id="arrow-high" class="glyphicon glyphicon-menu-up"></span>
          <span id="arrow-low" class="glyphicon glyphicon-menu-up"></span>
      </a>
      <div class="parallax">
            <div class="content">
              <h class="header-text" style="font-size: 5vw; position: absolute; margin-left: 30.5%; margin-top: 40vh;"> Analyzing Data </h>
              <div class="loader-line-mask">
                <div class="loader-line"></div>
              </div>
            </div>
          <a href='#blueSection'>
              <div class="circle-center circle">
                  <span id="arrow-high" class="glyphicon glyphicon-menu-down"></span>
                  <span id="arrow-low" class="glyphicon glyphicon-menu-down"></span>
              </div>
          </a>
      </div>
      <div class="panel">
          <div class="opaque-wrapper service-text" id="blueSection">
            <h2 class="service"> LINKS </h2>
            <hr width = "15%" >
            <div style="margin-left: 36%;">
                <a href="https://github.com/NeuroDataDesign/pan-synapse"><img class="social-media-images" src="static/img/Github.png" z-index="100"></a>
                <a href="https://www.neurodata.io"><img class="social-media-images" src="static/img/Neurodata.png" z-index="100"></a>
            </div>
            <div class="contact">
                <div style="padding-bottom: 2vh; font-size: 1.7vw;">© 2017 Synapsys <br></div>
                Designed with  <i class="fa fa-heart" aria-hidden="true" style="color:#1E9E9E;"></i> by the Synapsys team.
            </div>
          </div>
      </div>
    </div>
        <script src="../static/js/main.js"></script>

</body>

</html>
