@font-face {font-family: "Quadon";
src: url("http://db.onlinewebfonts.com/t/3df69735a1d2eed66c960a5536487362.eot");
src: url("http://db.onlinewebfonts.com/t/3df69735a1d2eed66c960a5536487362.eot?#iefix") format("embedded-opentype"),
url("http://db.onlinewebfonts.com/t/3df69735a1d2eed66c960a5536487362.ttf") format("truetype"),
url("http://db.onlinewebfonts.com/t/3df69735a1d2eed66c960a5536487362.svg#QuadonW00-Regular") format("svg");
}

@font-face {
font-family: "Gentona-SemiBold";
src: url("https://db.onlinewebfonts.com/t/a28854e1db150c80e69c915280190573.eot");
src: url("https://db.onlinewebfonts.com/t/a28854e1db150c80e69c915280190573.eot?#iefix") format("embedded-opentype"),
url("https://db.onlinewebfonts.com/t/a28854e1db150c80e69c915280190573.ttf") format("truetype"),
url("https://db.onlinewebfonts.com/t/a28854e1db150c80e69c915280190573.svg#GentonaW00-SemiBold") format("svg");
}

html,body {
    margin:0;
    background:black;
    height: 100%;
    overflow-x: hidden;
    font-family: Quadon;
    font-weight: 1000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.header-text{
  font-family: Quadon;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  font-size: 5vw;
  text-align: center;
  word-wrap: normal;
}

.service{
  font-family: Quadon;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  font-size: 3vw;
  text-align: center;
  word-wrap: normal;
  margin-top: 10vh;
}

.error{
  font-family: Quadon;
  font-weight: bold;
  letter-spacing: 2px;
  color: red;
  font-size: 2vw;
  text-align: center;
  word-wrap: normal;
}


.center {
  background: transparent;
  width:100%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.circle-center{
    border-radius: 50%;
    background: none;
    position: absolute;
    height: 90px;
    width: 90px;
    z-index: 100;
    font-size: 20px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%
  }

.circle:hover {
  background: #1E9E9E;
}

.circle {
  border-color: #fff;
  border: 1%;
  border-style: solid;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now for the proper property */
  transition:color .2s ease-out, background .2s ease-in;
  z-index: 1000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#arrow-high {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#arrow-low {
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.parallax {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.panel{
  height:100vh;
  background-color: #094074;
  border-radius: 0; z-index: 100;
}

  #return-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      width: 50px;
      height: 50px;
      display: block;
      text-decoration: none;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      display: none;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  #return-to-top i {
      color: #fff;
      margin: 0;
      position: relative;
      left: 16px;
      top: 13px;
      font-size: 19px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  #return-to-top:hover {
      background: #1E9E9E;
  }
  #return-to-top:hover i {
      color: #fff;
      top: 5px;
  }



  body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  body .vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  body .vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
  }
  * {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }


  #particles-background,
  #particles-foreground {
    position: fixed;
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  #particles-background {
    position: fixed;
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  }
  lesshat-selector {
    -lh-property: 0; }
  @-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
  @-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
  @-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
  @keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; }
  @-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; }
  @-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  [not-existing] {
    zoom: 1;
  }
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
  }
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
  }
  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
  @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }

  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }

  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }

  /* on hover placeholder */

  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }

  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }



  header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
  }

  #form {
    position: relative;
    width: 90%;
    margin: 8vh auto 8vh 8%;
  }

  input {
    font-family: 'Quadon', sans-serif;
    font-size: 2.3vw;
    width: 90%;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: white;

    border: solid 1px #b3aca7;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  input:hover {
    background: #6c7a7a;
    color: white;
  }

  textarea {
    width: 90%;
    height: 110px;
    max-height: 110px;


    background: transparent;
    outline: none;

    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;

    border: solid 1px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  textarea:hover {
    background: #737984;
    color: white;
  }

  #submit {
      background-color: #1E9E9E;
      color: white;
  }

  #submit:hover {
      background-color: #3edada;
  }


  .opaque-wrapper {
     float: left;
     width: 60%;
     height:100vh;
     background-color:  rgba(22, 38, 38, .60);
     text-align: default;
     font-size: 30px;
     position: absolute;
     margin-left: 20%;
 }

 .service-text {
    font-family: 'Quadon';
    text-align: left;
    color: #1E9E9E;
}
